<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="4MIEIC02-AD">

    <title>Sales Order Picking</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="nav-logo" src="/img/logo.png" />
                <a id="nav-text" href="#">Sales Order Picking</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#" class="active"><i class="fa fa-list-alt fa-fw"></i> Picking order ativa</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Terminar sessão</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header">Picking order ativa</h1>
                </div>
            </div>
                {{#each pickingOrder.steps}}
                <div class="col-xs-12 location-system">
                    <div class="col-xs-12 worker-main pointer-cursor">
                        <div class="col-xs-10 clickable-pad">
                            <h3><i class="fa fa-caret-down fa-fw location-caret"></i><i class="fa fa-map-marker fa-fw"></i> {{location}}</h3>
                        </div>
                        <div class="col-xs-2 on-the-right">
                            <h3><i class="fa fa-square-o fa-fw location-check"></i></h3>
                        </div>
                    </div>
                    {{#each items}}
                    <div class="col-xs-12 worker-sec">
                        <div class="col-xs-10">
                            <h4>({{quantity}} un.) {{name}}</h4>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group spinner on-the-right" align="right">
                                <input type="text" class="form-control" value="0">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/each}}
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <script src="/data/morris-data.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
        $('.location-check').click(function() {
            $(this).toggleClass('selected');
            $(this).toggleClass('fa-square-o');
            $(this).toggleClass('fa-check-square');
        });
        $('.clickable-pad').click(function() {
            $(this).parent().siblings('.worker-sec').slideToggle();
            $(this).parent().find('.location-caret').toggleClass('fa-caret-down');
            $(this).parent().find('.location-caret').toggleClass('fa-caret-up');
        });
        (function ($) {
            $('.spinner .btn:first-of-type').on('click', function() {
                $(this).parent().siblings('input').val( parseInt($(this).parent().siblings('input').val(), 10) + 1);
            });
            $('.spinner .btn:last-of-type').on('click', function() {
                $(this).parent().siblings('input').val( parseInt($(this).parent().siblings('input').val(), 10) - 1);
            });
        })(jQuery);
    </script>

</body>

</html>
