/* line 13, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

/* line 17, ../sass/style.scss */
p, body {
  font-family: 'Open Sans', sans-serif;
}

/* line 21, ../sass/style.scss */
.first-row {
  padding-top: 30px;
}

/* line 26, ../sass/style.scss */
.sortable-header:hover {
  cursor: pointer;
}

/* line 31, ../sass/style.scss */
.jumbotron {
  padding: 20px;
  padding-top: 5px;
}

/* line 36, ../sass/style.scss */
.table-icon {
  font-size: 150%;
  color: #28666e;
}

/* line 46, ../sass/style.scss */
.pointer-cursor:hover {
  cursor: pointer;
}

/* line 51, ../sass/style.scss */
.container {
  padding-top: 40px;
}

/* line 55, ../sass/style.scss */
.spinner {
  width: 100px;
}

/* line 58, ../sass/style.scss */
.spinner input {
  text-align: right;
}

/* line 61, ../sass/style.scss */
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

/* line 68, ../sass/style.scss */
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

/* line 78, ../sass/style.scss */
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

/* line 81, ../sass/style.scss */
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

/* line 85, ../sass/style.scss */
.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

/* line 91, ../sass/style.scss */
.worker-main {
  padding: 3px;
  margin: 0;
  background-color: #033f63;
  height: 70px;
  color: white;
}

/* line 99, ../sass/style.scss */
.worker-sec {
  display: none;
  padding: 2px;
  margin: 0;
  margin-left: 20px;
  background-color: #28666e;
  color: white;
  width: calc(100% - 20px);
}

/* line 109, ../sass/style.scss */
.location-caret {
  color: #7c9885;
  padding-right: 10px;
}

/* line 114, ../sass/style.scss */
.location-check {
  color: #7c9885;
}

/* line 118, ../sass/style.scss */
.on-the-right {
  text-align: right;
  float: right;
}

/* line 123, ../sass/style.scss */
.tr-green {
  background-color: #36a800 !important;
}
/* line 126, ../sass/style.scss */
.tr-green:hover {
  background-color: #4ab019 !important;
}

/* line 131, ../sass/style.scss */
.tr-yellow {
  background-color: #e4c800 !important;
}
/* line 134, ../sass/style.scss */
.tr-yellow:hover {
  background-color: #e9d332 !important;
}

/* line 139, ../sass/style.scss */
.tr-red {
  background-color: #880a00 !important;
}
/* line 142, ../sass/style.scss */
.tr-red:hover {
  background-color: #a20c00 !important;
}

/* line 147, ../sass/style.scss */
.main-button {
  background-color: #28666e;
  font-size: 110%;
  color: white;
  box-shadow: none;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
/* line 156, ../sass/style.scss */
.main-button:hover {
  background-color: #7c9885;
}

/* line 161, ../sass/style.scss */
nav {
  background-color: #28666e !important;
  margin-bottom: 0;
}
/* line 166, ../sass/style.scss */
nav .navbar-header a {
  color: white !important;
}

/* line 172, ../sass/style.scss */
body {
  background-color: white;
}

/* line 176, ../sass/style.scss */
#page-wrapper {
  border: none;
  margin-top: -20px;
}

/* line 181, ../sass/style.scss */
.sidebar {
  background-color: white;
}
/* line 187, ../sass/style.scss */
.sidebar .sidebar-nav ul li a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #28666e;
}
/* line 192, ../sass/style.scss */
.sidebar .sidebar-nav ul li a i {
  font-size: 130%;
}
/* line 196, ../sass/style.scss */
.sidebar .sidebar-nav ul li a:hover {
  background-color: lightgray;
  color: #28666e;
}
/* line 202, ../sass/style.scss */
.sidebar .sidebar-nav ul li .active {
  background-color: #7c9885;
  color: #fedc97;
}

/* line 211, ../sass/style.scss */
#nav-logo {
  max-height: 40px;
  margin: 5px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* line 221, ../sass/style.scss */
#nav-text {
  font-size: 120%;
  color: #fedc97 !important;
}
/* line 225, ../sass/style.scss */
#nav-text:hover {
  text-decoration: none;
}
/* line 229, ../sass/style.scss */
#nav-text:focus {
  text-decoration: none;
}

/* line 234, ../sass/style.scss */
.page-header {
  color: #28666e;
  font-weight: 700;
}

/* line 239, ../sass/style.scss */
.progress-bar {
  background-color: #28666e;
}

/* line 245, ../sass/style.scss */
.pagination .active a {
  background-color: #28666e;
}
